#calculadora {
    background: blanchedalmond;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(51, 14, 85);
    position: absolute;
    left: 40%;
    top: 10%;
}
#calculadora input {
    background:white;
    color: blanchedalmond;
    border-radius: 10px;
    padding: 5px;
}
#calculadora button {
    background: rgb(100, 79, 79);
    color: cyan;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}
#calculadora button:hover{
    background: darkmagenta;
    color: rgb(100, 79, 79);
    cursor: pointer;
}
#spTotal {
    background: rgb(100, 79, 79);
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-family:  'Courier New', Courier, monospace ;
}
.spLista{
    background: rgb(129, 109, 138);
    border-radius: 10px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color:white;
    width: 100px;
}
.calcF {
    display: none;
}
#calcFin:checked + #calculadora .calcF {
    display: block;
}
#calcFin {
    display: none;
}
