#calculadora {
    background: rgb(140, 147, 241);
    width: 181px;
    padding: 22px;
    border-radius: 35px;
    box-shadow: 20px 10px black;
    position: absolute;
    left: 40%;
    top: 6%;
}
#calculadora input {
    background: rgb(182, 61, 61);
    color: black;
    border-radius: 35px;
    padding: 5px;
}
#calculadora button {
    background: rgb(214, 173, 96);
    color: black;
    margin-top: 10px;
    padding: 5px;
    border-radius: 35px;
}
#calculadora button:hover {
    background: whitesmoke;
    color: blue;
    cursor: ew-resize;
}
#spTotal {
    background: rgb(0, 0, 0);
    color: orange;
    border-radius: 35px;
    padding: 5px;
}
.spLista {
    background: blue;
    border-radius: 35px;
    color: whitesmoke;
    width: 181px;
}
